<section class="section section bg-2" id="slide3a">
    <div class="section-title">

        <h2 style="text-align: center; padding-left: 100px; margin-left:100px;">Where cases have been reported</h2>
        <div>Click on states to get county level details.</div>
    </div>
	<div class="container">

    <style>
        .background {
            fill: none;
            pointer-events: all;
        }

        #states {
            fill: #aaa;
        }

        #states .active {
            display:none;
        }

        #state-borders {
            fill: none;
            stroke: #fff;
            stroke-width: 1.5px;
            stroke-linejoin: round;
            stroke-linecap: round;
            pointer-events: none;
        }

        .county-boundary {
            fill: #aaa;
            stroke: #fff;
            stroke-width: .5px;
        }

        .nation-borders {
            fill: none;
            stroke: #000;
            stroke-linejoin: round;
        }

        .county-boundary:hover, .state:hover {
            fill: orange;
        }

        .d3-tip {
          line-height: 1;
          padding: 6px;
          background: rgba(0, 0, 0, 0.7);
          color: #fff;
          border-radius: 4px;
          font-size: 12px;
        }

    </style>
    <div class="viz"></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>
    <script src="../js/d3-tip.min.js"></script>
    <script type="text/javascript">
        var margin = {
            top: 10,
            bottom: 10,
            left: 10,
            right:10
        }, width = parseInt(d3.select('.viz').style('width'))
            , width = width - margin.left - margin.right
            , mapRatio = 0.5
            , height = width * mapRatio
            , active = d3.select(null);

        var svg = d3.select('.viz').append('svg')
            .attr('class', 'center-container')
            .attr('height', height + margin.top + margin.bottom)
            .attr('width', width + margin.left + margin.right);

        svg.append('rect')
            .attr('class', 'background center-container')
            .attr('height', height + margin.top + margin.bottom)
            .attr('width', width + margin.left + margin.right)
            .on('click', clicked);

        var tool_tip = d3.tip()
            .attr("class", "d3-tip")
            .offset([-2, 0])
            .html(function (d) {
                map_id = d['id'];
                properties = d['properties'];
                console.log('Len= '+map_id.length+' id='+map_id);
                tip_str = "No data available";
                if(map_id.length === 2){
                    tip_str="No data for "+properties['name'];
                    covid_data_for_state = covid_data_by_state[map_id];
                    if (typeof(covid_data_for_state) !== "undefined"){
                        deaths_count = numberWithCommas(covid_data_for_state[0]);
                        cases_count = numberWithCommas(covid_data_for_state[1]);
                        state1 = covid_data_for_state[2];
                        tip_str = "<div style='font-weight:bold'>Location: " + state1+"<br/>Cases: " + cases_count+ "<br/>Deaths: "+deaths_count+"</div>";
                    }
                } else if (map_id.length === 5) {
                    covid_data_for_county = covid_data_by_county[map_id];
                    tip_str="No data for "+properties['name'] + " county";
                    if (typeof(covid_data_for_county) !== "undefined"){
                        deaths_count = numberWithCommas(covid_data_for_county[0]);
                        cases_count = numberWithCommas(covid_data_for_county[1]);
                        state1 = covid_data_for_county[2];
                        county = covid_data_for_county[3];
                        tip_str = "<div style='font-weight:bold'>Location: " + county + ", "+state1+"<br/>Cases: " + cases_count+ "<br/>Deaths: "+deaths_count+"</div>";
                    }
                }
                return tip_str
            });

        colorScheme = ['#f7fcfd',
            '#e0ecf4',
            '#bfd3e6',
            '#9ebcda',
            '#8c96c6',
            '#8c6bb1',
            '#88419d',
            '#810f7c',
            '#4d004b'];

        svg.call(tool_tip);

        covid_data_by_county = {};
        covid_data_by_state = {};


        var promises = [
            d3.json("./data/counties-10m.json"),
            d3.csv("./data/covid_19_cases_by_county.csv", function (d) {
                covid_data_by_county[d.fips] = [d['deaths'], d['cases'], d['state'], d['county']];
            }),
            d3.csv("./data/covid_19_cases_by_state.csv", function (d) {
                covid_data_by_state[d.state_id] = [d['deaths'], d['cases'], d['state']];
            })
          ];
          Promise.all(promises).then(ready);

        var projection = d3.geoAlbersUsa()
            .translate([width /2 , height / 2])
            .scale(width);

        var path = d3.geoPath()
            .projection(projection);

        var g = svg.append("g")
            .attr('class', 'center-container center-items us-state')
            .attr('transform', 'translate('+margin.left+','+margin.top+')')
            .attr('width', width + margin.left + margin.right)
            .attr('height', height + margin.top + margin.bottom);

        function ready(promise_data) {
            us = promise_data[0];

            mapScaleState = d3.scaleLog()
                .domain([10, 300000])
                .range([0, 8]);

            mapScaleCounty = d3.scaleLog()
                .domain([1, 6000])
                .range([0, 8]);

            g.append("g")
                .attr("id", "counties")
                .selectAll("path")
                .data(topojson.feature(us, us.objects.counties).features)
                .enter().append("path")
                .on('mouseover', tool_tip.show)
                .on('mouseout', tool_tip.hide)
                .attr("d", path)
                .attr("fill", function (d) {
                    county = d['id'];
                    covid_data = covid_data_by_county[county];
                    cases_count=0;
                    if (typeof(covid_data) !== "undefined"){
                       cases_count = covid_data[1];
                    }
                    //console.log(count)
                    log = 0;
                    log = Math.round(mapScaleCounty(cases_count));
                    log = log === -Infinity ? 0 : log;

                    if (typeof log === 'undefined'){
                        log=0
                    }
                    if (log >8){
                        log=8
                    }
                    //console.log("State="+state+" count="+count+" log="+log+" color="+colorScheme[log]);

                    return colorScheme[log];
                })

                .on("click", reset);

            g.append("g")
                .attr("id", "states")
                .selectAll("path")
                .data(topojson.feature(us, us.objects.states).features)
                .enter().append("path")
                .on('mouseover', tool_tip.show)
                .on('mouseout', tool_tip.hide)
                .attr("d", path)
                .attr("class", "state")
                .attr("fill", function (d) {
                    state = d['id'];
                    covid_data = covid_data_by_state[state];
                    cases_count=0;
                    if (typeof(covid_data) !== "undefined"){
                       cases_count = covid_data[1];
                    }
                    //console.log(count)
                    log = 0;
                    log = Math.round(mapScaleState(cases_count));
                    log = log === -Infinity ? 0 : log;

                    if (typeof log === 'undefined'){
                        log=0
                    }
                    if (log >8){
                        log=8
                    }
                    //console.log("State="+state+" count="+count+" log="+log+" color="+colorScheme[log]);

                    return colorScheme[log];
                })
                .on("click", clicked);

            g.append("g")
                .attr("id", "nation")
                .selectAll("path")
                .data(topojson.feature(us, us.objects.nation).features)
                .enter().append("path")
                .attr("d", path)
                .attr("class", "nation-borders");

            g.append("path")
                .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
                .attr("id", "state-borders")
                .attr("d", path);

        }

        function clicked(d) {
            if (d3.select('.background').node() === this) return reset();

            if (active.node() === this) return reset();

            active.classed("active", false);
            active = d3.select(this).classed("active", true);

            var bounds = path.bounds(d),
                dx = bounds[1][0] - bounds[0][0],
                dy = bounds[1][1] - bounds[0][1],
                x = (bounds[0][0] + bounds[1][0]) / 2,
                y = (bounds[0][1] + bounds[1][1]) / 2,
                scale = .9 / Math.max(dx / width, dy / height),
                translate = [width / 2 - scale * x, height / 2 - scale * y];

            g.transition()
                .duration(750)
                .style("stroke-width", 1.5 / scale + "px")
                .attr("transform", "translate(" + translate + ")scale(" + scale + ")");
        }

        function reset() {
            active.classed("active", false);
            active = d3.select(null);

            g.transition()
                .delay(100)
                .duration(750)
                .style("stroke-width", "1.5px")
                .attr('transform', 'translate('+margin.left+','+margin.top+')');

        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>
</div>
        <div>
            <img height="65" width="500"src="../static/images/legend.png">
        </div>
</section>
